/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
	font:				 	"Terminus 9";
}

window {
    width:      			210px;
    padding:    			25px;
    border:					0px 0px 1px 0px;
    border-radius:          0px;
    border-color:           @se;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
