/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			320px;
    padding:    			25px;
    border:					0px 0px 0px 4px;
    border-radius:          0px;
    border-color:           @bg3;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@bg2;
}
