/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			200px;
    padding:    			20px;
    border:					0px;
    border-radius:          10px;
    border-color:           @bd;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@fg;
}

